<div class="promotion">
  <label for="promo-code">Have A Promo Code?</label>
  <input type="text" id="promo-code"
         [(ngModel)]="promoCode"
         (keyup.enter)="applyPromoCode()"/> <button type="button" (click)="applyPromoCode()"></button>
</div>
