<main>
  <header class="container">
    <app-cart-header [numberItems] = "numberItems"></app-cart-header>
  </header>
  <section class="container">
    <app-product-list [productLists] = "products" (onRemoveProduct)="removeProduct($event)" (onUpdateQuantity)="updateQuantity($event)"></app-product-list>
    <div class="empty-product" *ngIf="products.length === 0">
      <h3>There are no products in your cart.</h3>
      <button>Shopping now</button>
    </div>
  </section>

  <section class="container">
    <app-promo-code (onApplyPromoCode)="onApplyPromoCode($event)"></app-promo-code>

    <app-cart-summary [totalsum]="total" [discount]="discount" [tax]="tax"></app-cart-summary>
  </section>
</main>
