<div class="summary">
  <ul>
    <li>Subtotal <span>{{totalsum | currency}}</span></li>
    <li *ngIf="discount > 0">
      Discount <span>{{ discount | currency }}</span>
    </li>
    <li>Tax <span>{{tax | currency}}</span></li>
    <li class="total">Total <span>{{totalsum + tax | currency}}</span></li>
  </ul>
</div>

<div class="checkout">
  <button type="button">Check Out</button>
</div>
